*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80px;
    background-color: #24292e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}