@import url('root.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray);
    color: var(--white);
    font-family: var(--font-sans-serif);
}

@media (min-width: 400px) {
    /* header */
    header {
        width: 100%;
        height: 80px;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title-container {
        width: 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .logo {
        width: 10dvw;
        height: 10dvw;
    }

    .title {
        color: white;
        font-size: 3.7dvw;

    }

    .menu .fa {
        color: white;
        font-size: 5dvw;
    }

    /* main */
    main{
        width: 100%;
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* presentation */
    .presentation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3dvw;
        margin-top: 5dvw;
    }

    .img-container {
        width: 90%;
        max-width: 90%;
        background-color: sandybrown;
        display: flex;        justify-content: center;
        padding: 3dvw;
    }

    .img-container img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    .text-container {
        width: 90%;
        max-width: 90%;
        color: var(--white);
        font-size: 4dvw;
        text-align: center;
    }
    /* modules */
    .start_here-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3dvw;
        margin-top: 20dvw;
    }

    .start_here-container h2{
        width: 90%;
        font-size: 5dvw;
        text-align: left;
        margin-bottom: 2dvw;
    }

    .module {
        width: 90%;
        max-width: 90%;
        background-color: var(--background);
        padding: 3dvw;
        border-radius: 10px;
        color: var(--white);
        font-size: 4dvw;
    }

    .module img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .module .module-text{
        display: flex;
        flex-direction: column;
        gap: 3dvw;
    }

    .module h3{
        margin-bottom: 1dvw;
    }

    .module p{
        margin-top: 2dvw;
        line-height: 1.5;
    }

    .module a{
        background-color: var(--white);
        padding: 1dvw 3dvw;
        border-radius: 5px;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;
        width: fit-content;
    }

}