@import url('root.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray);
    color: var(--white);
    font-family: var(--font-sans-serif);
}

@media (min-width: 400px) {
    /* header */
    header {
        width: 100%;
        height: 80px;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title-container {
        width: 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .logo {
        width: 10dvw;
        height: 10dvw;
    }

    .title {
        color: white;
        font-size: 3dvw;
        font-family: var(--mona-serif);
        font-weight: 500;
        font-style: italic;
        display: flex;
        flex-direction: column;
    }

    .title img{
        height: auto;
        width: 100%;
    }

    .menu .fa {
        color: white;
        font-size: 5dvw;
    }

    /* main */
    main{
        width: 100%;
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* presentation */
    .presentation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3dvw;
        margin-top: 5dvw;
    }

    .img-container {
        width: 90%;
        max-width: 90%;
        background-color: sandybrown;
        display: flex;        justify-content: center;
        padding: 3dvw;
    }

    .img-container img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    .text-container {
        width: 90%;
        max-width: 90%;
        color: var(--white);
        font-size: 4dvw;
        text-align: center;
    }
    /* modules */
    .start_here-container, .exercice-container, .exam-container, .why-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3dvw;
        margin-top: 20dvw;
    }

    .start_here-container h2, .exercice-container h2, .exam-container h2, .why-container h2{
        width: 90%;
        font-size: 5dvw;
        text-align: left;
        margin-bottom: 2dvw;
    }

    .module, .exercice-module, .test-module, .exam-info, .explanation-container{
        width: 90%;
        max-width: 90%;
        background-color: var(--background);
        padding: 3dvw;
        border-radius: 10px;
        color: var(--white);
        font-size: 4dvw;
    }

    .exam-info, .explanation-container{
        background-color: var(--gray);
    }

    .module img, .exercice-module img, .test-module img, .exam-info img, .explanation-container img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 2dvh;
    }

    .module .module-text, .exercice-text, .test-text, .exam-info, .pricing, .explanation-container{
        display: flex;
        flex-direction: column;
        gap: 3dvw;
    }

    h3{
        margin-bottom: 1dvw;
    }

    .module p, .exercice-module p, .test-module p{
        margin-top: 2dvw;
        line-height: 1.5;
    }

    .module a, .exercice-module a, .test-module a, .exam-info a{
        background-color: var(--white);
        padding: 1dvw 3dvw;
        border-radius: 5px;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;
        width: fit-content;
    }

    .explanation-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .pricing{
        display: flex;
        flex-direction: column;
        gap: 3dvw;
        align-items: center;
        background-color: var(--background);
        padding: 3dvw;
        border-radius: 10px;
    }

    .pricing i{
        font-size: 8dvw;
        color: var(--yellow);
        padding: 4px 6px;
    }

    .exam-info .start-link{
        background-color: var(--blue);
        color: var(--white);
        padding: 3dvw 6dvw;
        font-size: 4dvw;
        text-decoration: none;
        margin-top: 10px;
    }
}