@import url("root.css");
@media (min-width:400px) {
    main{
        padding: 1rem 2rem;
    }
    .module-content {
        max-width: 700px;
        margin: auto;
    }
    #common-terms-git, #git-github, #github, #github-flow, #github-pages, #other-features-github {
        display: none;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .buttons button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .buttons .back {
        background-color: var(--light-gray);
        color: var(--white);
    }
    .buttons .next {
        background-color: var(--green);
        color: var(--white);
    }
}