@import url("root.css");
@media (min-width:400px) {
    main {
        padding: 1rem 2rem;
    }

    .module-content {
        max-width: 700px;
        margin: auto;
    }

    .module-content h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .module-content h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 0.7rem;
    }

    .module-content h3 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .module-content h4 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .module-content h5 {
        font-size: 0.9rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }

    .module-content p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .module-content ul {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    .module-content li {
        margin-bottom: 0.5rem;
    }

    .module-content ol{
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    .module-content code {
        background-color: var(--light-gray);
        padding: 0.1rem 0.3rem;
        border-radius: 4px;
        font-size: 1rem;
    }

    .module-content .terminal {
        background-color: var(--light-gray);
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem 0;
    }

    .module-content .terminal .one_tab {
        margin-left: 1.5rem;
    }

    .module-content .terminal .two_tabs {
        margin-left: 3rem;
    }

    .module-content .terminal .three_tabs {
        margin-left: 4.5rem;
    }

    .module-content .terminal .four_tabs {
        margin-left: 6rem;
    }

    .module-content .terminal .five_tabs {
        margin-left: 7.5rem;
    }

    .module-content .terminal .six_tabs {
        margin-left: 9rem;
    }

    .module-content a{
        color: var(--light-blue);
        text-decoration: none;
    }

    .module-content a:hover{
        text-decoration: underline;
    }

    .module-content figure{
        text-align: center;
        margin: 1.5rem 0;
    }
    .module-content figure img{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .hidden-section {
        display: none;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .buttons button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .buttons .back {
        background-color: var(--light-gray);
        color: var(--white);
    }

    .buttons .next {
        background-color: var(--green);
        color: var(--white);
    }

    .buttons .next-module {
        background-color: var(--blue);
        color: var(--white);
    }
}