@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* colors */
    --background: #24292e;
    --white: #ffffff;
    --black: #000000;
    --gray: #040f1a;
    --light-gray: #57606a;
    --yellow: #ffdf5d;
    --blue: #0366d6;
    --green: #28a745;

    /* fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mona-sans: 'Mona Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
    color: var(--white);
    font-family: var(--font-sans-serif);
}

@media (min-width: 400px) {
    /* header */
    header {
        width: 100%;
        height: 20dvw;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title-container {
        width: 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .logo {
        width: 10dvw;
        height: 10dvw;
    }

    .title {
        color: white;
        font-size: 3dvw;
        font-family: var(--mona-serif);
        font-weight: 500;
        font-style: italic;
        display: flex;
        flex-direction: column;
    }

    .title img {
        height: auto;
        width: 100%;
    }

    .menu .fa {
        color: white;
        font-size: 5dvw;
    }

    #menu-nav {
        display: none;
        position: absolute;
        top: 20dvw;
        right: 0;
        padding: 10dvw 5dvw;
        background-color: var(--background);
        box-shadow: -2dvw 2dvw 5dvw rgba(0, 0, 0, 0.5);
    }
    #menu-nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 3dvw;
    }
    #menu-nav ul li a {
        color: var(--white);
        text-decoration: none;
        font-size: 4dvw;
    }
    #menu-nav ul li a:hover {
        text-decoration: underline;
    }

    /* footer */
    footer{
        width: 100%;
        height: 12dvh;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 3dvw;
        margin-top: 3dvh;
    }

    footer .links{
        display: flex;
        gap: 10dvw;
        margin-bottom: 1dvw;
    }

    .links section{
        display: flex;
        flex-direction: column;
        gap: 1dvw;
    }

    .links a{
        color: var(--white);
        text-decoration: none;
    }

    .links a:hover{
        text-decoration: underline;
    }

    footer p{
        font-size: 3dvw;
        color: var(--light-gray);
        text-align: start;
        font-style: italic;
        width: 70%;
        margin-top: 2dvw;
    }
}