@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* colors */
    --background: #24292e;
    --white: #ffffff;
    --black: #000000;
    --gray: #040f1a;
    --light-gray: #57606a;
    --yellow: #ffdf5d;
    --blue: #0366d6;

    /* fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mona-sans: 'Mona Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
    color: var(--white);
    font-family: var(--font-sans-serif);
}

@media (min-width: 400px) {
    /* header */
    header {
        width: 100%;
        height: 80px;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title-container {
        width: 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .logo {
        width: 10dvw;
        height: 10dvw;
    }

    .title {
        color: white;
        font-size: 3dvw;
        font-family: var(--mona-serif);
        font-weight: 500;
        font-style: italic;
        display: flex;
        flex-direction: column;
    }

    .title img {
        height: auto;
        width: 100%;
    }

    .menu .fa {
        color: white;
        font-size: 5dvw;
    }
}