@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    /* colors */
    --background: #24292e;
    --white: #ffffff;
    --black: #000000;
    --gray: #040f1a;
    --light-gray: #57606a;
    --yellow: #ffdf5d;
    --blue: #0366d6;

    /* fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mona-sans: 'Mona Sans', sans-serif;
}